extends _layout

block declarations
    - const title = "About Forage"

block content
    #main.centered
        h1 About
        p
            | Forage is a website made by funnycorp.
        p
            | It is simply a frontend for the
            |
            a(href="https://github.com/titaniumnetwork-dev/Corrosion", target="_blank") Corrosion
            | 
            | proxy.
        p
            | To access Discord, we provide the
            |
            a(href="https://github.com/binary-person/Womginx", target="_blank") Womginx
            |
            | proxy for this purpose.
        p These proxies let you bypass boring, unnecessary restrictions with ease!
        p
            | The Forage logo is the evergreen tree emoji by
            |
            a(href="https://twemoji.twitter.com/", target="_blank") Twemoji
            | , licensed under the
            |
            a(href="https://creativecommons.org/licenses/by/4.0/", target="_blank") CC-BY 4.0
            | .
        br
        p
            a(href="/") Back to Forage